.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.home-nav-link {
  margin: 0 auto;
}
.login-container {
  display: block;
  width: 200px;
}
.logout-btn {
  margin-left: -150px;
}
.login-btn {
  margin-left: 30px;
}

.login-btn {
  float: right;
  color: #007bff;
  margin-left: 30px;
  font-size: 0.8em !important;
  margin-left: 140px;
}
.signup-btn,
.logout-btn {
  float: right;
  font-size: 0.8em !important;
  color: #007bff !important;
}
.user-nav {
  width: 400px;
  display: block;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eee;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: center;
}
nav a {
  margin-left: 10%;
}
footer {
  margin-top: 360px;
  background-color: #eee;
  padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 450px) {
  .App-header nav {
    float: left;
    background: transparent;
    /* transform: rotate(270deg); */
    margin-left: 0 auto;
  }
  .login-container {
    display: block;
    width: 200px;
  }
  .logout-btn {
    margin-left: -150px;
    padding-left: 40px;
  }
  .login-btn {
    margin-left: 30px;
  }
  .signup-btn {
    margin-left: 140px;
  }
}
