#card {
  border: 2px solid black;
  border-radius: 8px;
  height: 450px;
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 40px;
}
.card-suite-rank-container {
  text-decoration: none !important ;
  font-size: 42px;
  border: 3px solid #1ed71e;
  border-radius: 3px;
}
.card-rank,
.card-suite {
  font-size: 3em;
  float: left;
}
.card-image {
  border: 2px solid black;
  border-radius: 8px;
  height: 14em;
  width: 150px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 25%;
}
#red {
  color: red;
}
#black {
  color: black !important;
}
.card-grid-container,
.score-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card1,
.player-score {
  grid-column: 1;
}
.card2,
.computer-score {
  grid-column: 2;
}
.get-card-btn {
  margin-top: 8%;
  margin-bottom: 10%;
}

.player-score-label,
.computer-score-label {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-size: 1.4em;
  font-weight: 500;
}
.player-score,
.computer-score {
  background-color: #515960;
  color: white;
  padding: 4px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 200;
}
@media (max-width: 450px) {
  .card-grid-container img {
    max-width: 200px;
  }
}
